@model IEnumerable<MvcWebSite.Core.Entities.Slider>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-area="Admin" asp-controller="Sliders" asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Image
                </td>
                <td>
                    <a asp-area="Admin" asp-controller="Sliders" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-area="Admin" asp-controller="Sliders" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-area="Admin" asp-controller="Sliders" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
